/* loading screen------ */
body {
  background-color: #FBE7EE;
}
div.loading__screen__main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0%;
  z-index: 10000;
  background-color: #FBE7EE;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  div.loading__screen__main img.loading__image {
    width: 80%;
  }
}

/* loading screen------ */
/* ---------------------------------------------------------------- */


/* categories bars */


div.categories__bars {
  width: 100%;
  height: 700px;
  overflow-y: scroll;
  background-color: #FBE7EE;
}

div.categories__bars div.category__bar {
  -webkit-box-shadow: 0px 0px 12px #f284aa;
          box-shadow: 0px 0px 12px #f284aa;
  margin: auto;
  height: 185px !important;
  width: 45%;
  margin-top: 30px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.categories__bars div.category__bar div.text {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.categories__bars div.category__bar div.text span {
  padding: 5px 15px;
  font-size: 22px;
  -webkit-box-shadow: #f284aa 0px 0px 10px;
          box-shadow: #f284aa 0px 0px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

div.categories__bars div.category__bar div.text span:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

div.categories__bars div.category__bar div.text span:hover {
  -webkit-box-shadow: #f284aa 0px 0px 6px;
          box-shadow: #f284aa 0px 0px 6px;
}

div.categories__bars div.category__bar div.image {
  overflow: hidden;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

div.categories__bars div.category__bar div.image img {
  width: 100%;
}